@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
  --background: 210 100% 98%;
  --foreground: 210 40% 20%;
  --card: 210 100% 95%;
  --card-foreground: 210 40% 15%;
  --popover: 210 100% 98%;
  --popover-foreground: 210 40% 20%;
  --primary: 340 90% 85%;
  --primary-foreground: 340 80% 30%;
  --secondary: 200 80% 90%;
  --secondary-foreground: 200 60% 25%;
  --muted: 210 50% 95%;
  --muted-foreground: 210 40% 30%;
  --accent: 160 70% 85%;
  --accent-foreground: 160 70% 25%;
  --destructive: 0 80% 70%;
  --destructive-foreground: 0 70% 20%;
  --border: 210 50% 90%;
  --input: 210 100% 98%;
  --ring: 200 60% 80%;
  --chart-1: 340 90% 85%;
  --chart-2: 200 80% 90%;
  --chart-3: 160 70% 85%;
  --chart-4: 210 50% 75%;
  --chart-5: 250 70% 85%;

    --radius: 0.5rem;
  }

  .dark {
  --background: 210 20% 20%;
  --foreground: 210 40% 90%;
  --card: 210 20% 15%;
  --card-foreground: 210 40% 90%;
  --popover: 210 20% 25%;
  --popover-foreground: 210 40% 90%;
  --primary: 340 90% 70%;
  --primary-foreground: 340 90% 95%;
  --secondary: 200 80% 25%;
  --secondary-foreground: 200 80% 95%;
  --muted: 210 20% 18%;
  --muted-foreground: 210 50% 90%;
  --accent: 160 70% 45%;
  --accent-foreground: 160 70% 95%;
  --destructive: 0 80% 50%;
  --destructive-foreground: 0 80% 95%;
  --border: 210 20% 25%;
  --input: 210 20% 15%;
  --ring: 200 60% 35%;
  --chart-1: 340 90% 70%;
  --chart-2: 200 80% 25%;
  --chart-3: 160 70% 45%;
  --chart-4: 210 40% 35%;
  --chart-5: 250 70% 45%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
